Repository ratha7129/erpnexts, changes with the owners that CODEOWNERS names for each.
All owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar, @marination, @rohitwaghchaure, @s-aga-r, @NagariaHussain, @rutwikhdev, @ruchamahabal, @ankush, @gavindsouza

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/loan_management/        @nextchamp-saqib @deepeshgarg007
erpnext/regional                @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/support/                @nextchamp-saqib @deepeshgarg007
pos*                            @nextchamp-saqib

erpnext/buying/                 @marination @rohitwaghchaure @s-aga-r
erpnext/e_commerce/             @marination
erpnext/maintenance/            @marination @rohitwaghchaure @s-aga-r
erpnext/manufacturing/          @marination @rohitwaghchaure @s-aga-r
erpnext/portal/                 @marination
erpnext/quality_management/     @marination @rohitwaghchaure @s-aga-r
erpnext/shopping_cart/          @marination
erpnext/stock/                  @marination @rohitwaghchaure @s-aga-r

erpnext/crm/                    @NagariaHussain 
erpnext/education/              @rutwikhdev 
erpnext/projects/               @ruchamahabal

erpnext/controllers/            @deepeshgarg007 @nextchamp-saqib @rohitwaghchaure @marination
erpnext/patches/                @deepeshgarg007 @nextchamp-saqib @marination
erpnext/public/                 @nextchamp-saqib @marination

.github/                        @ankush
pyproject.toml                  @gavindsouza @ankush

update
  erpnext/accounts/report/accounts_receivable/accounts_receivable.js
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

forgot this
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

set new field
  erpnext/setup/doctype/item_group/item_group.py
Owners: none

update
  erpnext/setup/doctype/item_group/item_group.py
Owners: none

update
  erpnext/setup/doctype/item_group/item_group.json
  erpnext/setup/doctype/item_group/item_group.py
  erpnext/stock/doctype/item/item.json
Owners: @marination, @rohitwaghchaure, @s-aga-r

update
  erpnext/setup/doctype/item_group/item_group.py
Owners: none

update
  erpnext/setup/doctype/item_group/item_group.json
Owners: none

update
  erpnext/setup/doctype/item_group/item_group.py
Owners: none

update
  erpnext/stock/doctype/price_list/price_list.json
Owners: @marination, @rohitwaghchaure, @s-aga-r

update
  erpnext/stock/stock_ledger.py
  erpnext/stock/valuation.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-01-27 9:06 AM
  erpnext/stock/stock_ledger.py
  erpnext/stock/valuation.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-01-27 9:13 AM
  erpnext/stock/stock_ledger.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-01-27 9:59 AM
  erpnext/stock/stock_ledger.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-01-28 8:47 AM
  erpnext/stock/stock_ledger.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-01-28 9:14 AM
  erpnext/stock/valuation.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-02-08 9:40 AM
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/stock/doctype/item/item.py
Owners: @nextchamp-saqib, @marination, @rohitwaghchaure, @s-aga-r

update 2023-02-08 10:07 AM
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/stock/stock_ledger.py
Owners: @nextchamp-saqib, @marination, @rohitwaghchaure, @s-aga-r

update 2023-02-10 2:55 PM
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-02-10 3:02 PM
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-02-10 3:07 PM
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-03-13 11:16 AM
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Owners: @nextchamp-saqib

update 2023-03-13 11:22 AM
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
Owners: @nextchamp-saqib

update 2023-03-29 10:18 AM
  erpnext/setup/doctype/branch/branch.json
Owners: none

update 2023-07-04 3:47 PM
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-07-05 11:14 AM
  erpnext/stock/stock_ledger.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-07-07 8:37 AM
  erpnext/stock/stock_ledger.py
  erpnext/stock/valuation.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-07-07 10:13 AM
  erpnext/stock/valuation.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update 2023-08-09 2:31 PM
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice_item/sales_invoice_item.json
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-08-09 2:43 PM
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-08-10 10:05 AM
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-08-11 9:49 AM
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice_item/pos_invoice_item.json
  erpnext/accounts/doctype/pos_profile/pos_profile.json
Owners: @nextchamp-saqib

update 2023-08-21 9:57 AM
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-08-21 2:51 PM
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update 2023-09-26 3:30 PM
  erpnext/accounts/doctype/pos_closing_entry_summary/__init__.py
  erpnext/accounts/doctype/pos_closing_entry_summary/pos_closing_entry_summary.js
  erpnext/accounts/doctype/pos_closing_entry_summary/pos_closing_entry_summary.json
  erpnext/accounts/doctype/pos_closing_entry_summary/pos_closing_entry_summary.py
Owners: @nextchamp-saqib

update
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

update
  erpnext/stock/doctype/item/item.json
Owners: @marination, @rohitwaghchaure, @s-aga-r

update
  erpnext/stock/doctype/item/item.json
Owners: @marination, @rohitwaghchaure, @s-aga-r

update
  erpnext/stock/doctype/item/item.json
  erpnext/stock/doctype/item_shelf_column/item_shelf_column.js
  erpnext/stock/doctype/item_shelf_column/item_shelf_column.json
  erpnext/stock/doctype/item_shelf_column/item_shelf_column.py
  erpnext/stock/doctype/item_shelf_level/item_shelf_level.js
  erpnext/stock/doctype/item_shelf_level/item_shelf_level.json
  erpnext/stock/doctype/item_shelf_level/item_shelf_level.py
  erpnext/stock/doctype/item_shelf_row/item_shelf_row.js
  erpnext/stock/doctype/item_shelf_row/item_shelf_row.json
  erpnext/stock/doctype/item_shelf_row/item_shelf_row.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

update
  erpnext/stock/doctype/item_shelf_column/item_shelf_column.json
  erpnext/stock/doctype/item_shelf_level/item_shelf_level.json
  erpnext/stock/doctype/item_shelf_row/item_shelf_row.json
Owners: @marination, @rohitwaghchaure, @s-aga-r
